<form action='/login' method='post'>
  Email: <input type='text' name='email'>
   Password: <input type='password' name='password'>
  <input type='submit' value='Login'>
</form>

<form action='/users' method='post'>
	Email: <input type='text' name='email'>
	Password: <input type='password' name='password'>
	<input type='submit' value='Create Account'>
</form>